
:root {
    --color-primary : #E7E8EA;
    --color-secondary : #fab3d4;
    --color-secondary--active : #f585b9;
    --color-terciary : #7ea1f1;
    --color-terciary--active : #648ef0;

}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body {
    background-color: var(--color-primary);
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__img-container--modal {
    width: auto;
    height: auto;
}

.profile__img-wrapper {
    width: 70px;
    height: 70px;
    border: 2px solid var(--color-terciary);
    border-radius: 100%;
    padding: 2px;
}

.profile__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.profile__information {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile__information--modal {
    align-items: flex-start;
}

.profile__text {
  font-size: 16px;  
}

.profile__text--name {
    font-weight: 600;
}

.profile__text--occupation {
    font-weight: 300;
}

.profile__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__button-wrapper {
    background-color: var(--color-terciary);
    margin-top: 15px;
    padding: 1em;
    border-radius: 5px;
    border: none;
    color: white;
    display: flex;
    cursor: pointer;
}

.profile__icon {
    margin-right: 12px;
    display: flex;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(171, 174, 173, 0.469);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal--active {
    visibility: visible;
}

.modal__container {
    background-color: var(--color-primary);
    min-width: 320px;
    width: 380px;
    border-radius: 10px;
    padding: 32px;
    position: relative;
}

.modal__icon-close {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 24px;
    cursor: pointer;
    color: #7c7f84a5;
}

.modal__icon-close:hover {
    color: #595b5e;
}

.modal__profile {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.modal__form {
    margin-top: 15px;
}

.modal__textarea {
    margin-top: 15px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    background-color: inherit;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    resize: none;
}

.modal__textarea:focus{
    outline: 1px solid var(--color-secondary);
}

.modal__button-container {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}

.modal__button {
    padding: 1em;
    margin: 0 10px;
    border: none;
        cursor: pointer;
    border-radius: 8px;
    color: white;
}

.modal__button--close {
    background-color: var(--color-secondary);
}

.modal__button--submit {
    background-color: var(--color-terciary);
}

.modal__button--close:hover {
    background-color: var(--color-secondary--active);
}

.modal__button--submit:hover {
    background-color: var(--color-terciary--active);
}

